@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .myContainer {
    @apply max-w-7xl mx-auto;
  }
}

.transition-transform {
  transition: transform 0.3s ease; 
}

.transition-transform:hover {
  transform: translateY(-6px); 
}

.w-full {
  width: 100%; 
}
.h-full {
  height: 100%; 
}
